<div class="container-fluid">
  <div class="row">
    <div class="col" *ngFor="let book of books">
      <app-book [book]="book" (changeAvailability)="onChangeAvailability($event)" (click)="navigateToBook(book)"></app-book>
    </div>
  </div>
</div>
