<form class="form-horizontal" [formGroup]="createAuthorForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary" style="background-color: rgb(255, 232, 230);">
    <div class="panel-heading" style="background-color: #ff6f61;">
      <h3 class="panel-title">Create Author</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [ngClass]="{'has-error': formErrors.fullName }">
        <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" type="text" class="form-control" formControlName="fullName" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.fullName">
            {{formErrors.fullName}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Contact Preference</label>
        <div class="col-md-8">
          <label class="radio-inline">
            <input type="radio" value="email" formControlName="contactPreference"
                    (click)="onContactPreferenceChange('email')">Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" formControlName="contactPreference"
                    (click)="onContactPreferenceChange('phone')">Phone
          </label>
        </div>
      </div>


      <div formGroupName = "emailGroup">
      <div class="form-group" [ngClass]="{'has-error': formErrors.email || formErrors.emailGroup}">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input id="email" type="text" class="form-control" formControlName="email" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.email || formErrors.emailGroup">
            {{formErrors.email}}
            {{formErrors.emailGroup}}
          </span>
        </div>
      </div>



    <div class="form-group" [ngClass]="{'has-error': formErrors.confirmEmail
                                                || formErrors.emailGroup}">
      <label class="col-sm-2 control-label" for="confirmEmail">
        Confirm Email
      </label>
    <div class="col-sm-8">
      <input id="confirmEmail" type="text" class="form-control"
             formControlName="confirmEmail" (blur)="logValidationErrors()">
      <span class="help-block"
            *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
        {{formErrors.confirmEmail ? formErrors.confirmEmail
          : formErrors.emailGroup}}
      </span>
    </div>
  </div>
</div>



      <div class="form-group" [ngClass]="{'has-error': formErrors.phone }">
        <label class="col-sm-2 control-label" for="phone">Phone</label>
        <div class="col-sm-8">
          <input id="phone" type="text" class="form-control" formControlName="phone" (blur)="logValidationErrors()">
          <span class="help-block" *ngIf="formErrors.phone">
            {{formErrors.phone}}
          </span>
        </div>
      </div>


    <div class="well">




      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-primary" (click)="addBookButtonClick()"
                  [disabled]="boosFormArray.invalid">
            Add Book
          </button>
        </div>
      </div>


      <div formArrayName="books" *ngFor="let book of boosFormArray.controls; let i=index;">
        <hr *ngIf = "i>0">
        <div [formGroupName]="i">



        <div class="form-group"  [ngClass]="{'has-error': formErrors.bookName}">
          <label class="col-sm-2 control-label" [attr.for]="'bookName'+i" >
            Book Title
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [id]="'bookName'+i"
                placeholder="Name" formControlName="bookName" (blur)="logValidationErrors()" >
                <span class="help-block" *ngIf="formErrors.bookName">
                  {{formErrors.bookName}}
                </span>
          </div>
          <div class="col-sm-6" *ngIf="boosFormArray.length>1">
            <button type="button" class="btn btn-danger btn-sm pull-right" title="Delete book"
                    (click)="removeBookButtonClick(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

          <div class="form-group" [ngClass]="{'has-error': formErrors.published}">
              <label class="col-sm-2 control-label" [attr.for]="'published'+1">
                Published
              </label>
            <div class="col-sm-4">
              <input type="text" placeholder="published" [id]="'published'+i"
                  class="form-control" formControlName="published"  (blur)="logValidationErrors()">
                  <span class="help-block" *ngIf="formErrors.published">
                    {{formErrors.published}}
                  </span>
            </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': formErrors.genre}">
          <label class="col-md-2 control-label">Genre</label>
          <div class="col-md-8">
            <label class="radio-inline">
              <input id="genre1" type="radio" value="fantasy"
                     formControlName="genre" (blur)="logValidationErrors()">Fantasy
            </label>
            <label class="radio-inline">
              <input id="genre2" type="radio" value="mystery"
                     formControlName="genre" (blur)="logValidationErrors()">Mystery
            </label>
            <label class="radio-inline">
              <input id="genre3" type="radio" value="romance"
                     formControlName="genre" (blur)="logValidationErrors()">Romance
            </label>
            <label class="radio-inline">
              <input id="genre4" type="radio" value="drama"
                     formControlName="genre" (blur)="logValidationErrors()">Drama
            </label>
            <span class="help-block" *ngIf="formErrors.genre">
              {{formErrors.genre}}
            </span>
          </div>
        </div>

      </div>
      </div>
      </div>

    </div>
    <div class="panel-footer" style="background-color: #ff6f61;">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit" [disabled]="createAuthorForm.invalid">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load data</button>
    </div>
    </div>
  </div>
</form>


<table border="1">
  <tr>
    <th style="padding: 10px">FormGroup</th>
    <th style="padding: 10px">FormControl (fullName)</th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ createAuthorForm.touched }}
      <br/> dirty : {{ createAuthorForm.dirty }}
      <br/> valid : {{ createAuthorForm.valid }}
      <br/> Form Values : {{createAuthorForm.value | json}}
    </td>
  </tr>
</table>
