<div class="container">
<!--  <app-nav></app-nav>-->
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/home'" [routerLinkActive]="['active-a']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/books']" [routerLinkActive]="['active-a']">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/createBook']" [routerLinkActive]="['active-a']">Create Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active-a']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/book/:isbn']" [routerLinkActive]="['active-a']">Book ISBN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/author']" [routerLinkActive]="['active-a']">Author</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/author-list']" [routerLinkActive]="['active-a']">Author List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cache']" [routerLinkActive]="['active-a']">Polling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/concat-map']" [routerLinkActive]="['active-a']">two parallel requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/merge-map']" [routerLinkActive]="['active-a']"> two chained requests</a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

