/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/*.navbar-brand {*/
/*  margin-top:-5px;*/
/*  margin-left:10px;*/
/*  font-size:30px;*/
/*  font-weight:bold;*/
/*  color:purple !important;*/
/*  text-transform:uppercase;*/
/*  text-shadow:3px 3px 5px #777;*/
/*}*/
/*.navbar-nav {*/
/*  margin-top:-5px;*/
/*  margin-left:10px;*/
/*  font-size:15px;*/
/*  font-weight:bold;*/
/*  color:rgb(12, 10, 12) !important;*/
/*  text-transform:uppercase;*/
/*  text-shadow:3px 3px 5px #777;*/
/*}*/
/*body{*/
/*  background: #383a3f;*/
/*}*/
