<!--<div class="form-group">-->
<!--<div class="container-fluid" >-->
<!--<div class="row" *ngIf="allAuthors.length">-->
<!--  <div class="col-md-3" *ngFor="let authors of allAuthors">-->
<!--    -->

<!--    <div class="card">-->
<!--      <div class="heading">{{authors.fullName}}</div>-->
<!--      <div class="sub-heading">{{authors.email}}</div>-->
<!--      <div class="sub-heading">{{authors.confirmEmail}}</div>-->
<!--      <div class="sub-heading">{{authors.books}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



<!--<div class="table-responsive">-->
<!--  <table class="table table-bordered" >-->
<!--    <thead>-->
<!--    <tr class="bg-primary">-->
<!--      <th>Name</th>-->
<!--      <th>Email</th>-->
<!--      <th>Phone</th>-->
<!--      <th>Contact Preference</th>-->
<!--      <th>Action</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let authors of allAuthors">-->
<!--      <td>{{ authors.fullName}}</td>-->
<!--      <td>{{ authors.email }}</td>-->
<!--      <td>{{ authors.confirmEmail }}</td>-->
<!--      <td>{{ authors.books }}</td>-->
<!--      <td> <button class="btn btn-primary">Edit</button> </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
<div class="table-responsive" >
  <table class="table table-bordered" >
    <thead>
    <tr class="bg-primary" style="background-color: #ff6f61;">
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>ConfirmEmail</th>
      <th>Books</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let authors of allAuthors" >
      <td>{{authors.id}}</td>
      <td>{{ authors.fullName}}</td>
      <td>{{ authors.email }}</td>
      <td>{{ authors.confirmEmail }}</td>
      <td>{{ authors.books }}</td>
      <td> <button class="btn btn-primary" (click)="editButtonClick(authors.id)">Edit</button> </td>
    </tr>
    </tbody>
  </table>
</div>
